body{
    background-color: whitesmoke;
    width: auto;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
h1,
h2,
h3 {
    text-align: center;
}

ul,
ol {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    margin: 50px 50px;
}

p{
    padding: 0 300px;
    text-align: center;
}

 img{
    width: 500px;
    height: auto;
    padding: 20px;
    margin: 0 auto;
    display: block;
    border-radius: 50px;
 }